@font-face {
  font-family: 'BrandonTextBlack';
  src: local('BrandonTextBlack'),
    url('./fonts/Brandon Text/BrandonText-Black.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'BrandonTextRegular';
  src: local('BrandonTextRegular'),
    url('./fonts/Brandon Text/BrandonText-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'BrandonTextMedium';
  src: local('BrandonTextMedium'),
    url('./fonts/Brandon Text/BrandonText-Medium.otf') format('opentype');
  font-weight: normal;
}

body {
  font-family: BrandonTextBlack;
}

.Modal {
  position: absolute;
  top: 40px;
  bottom: 40px;
  width: 80%;
}
/* 
@media (min-width: 728px) {
  .cardButton {
    font-size: '14px';
    display: 'flex';
    flex-direction: 'row';
    float: 'right';
    margin-right:'0';
    height: '32px';
    
  }
  
} */
