@font-face {
  font-family: 'BrandonGrotesqueRegular';
  src: local('BrandonGrotesqueRegular'),
    url('./fonts/Brandon Grotesque/Brandon_reg.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'BrandonGrotesqueBlack';
  src: local('BrandonGrotesqueBlack'),
    url('./fonts/Brandon Grotesque/Brandon_blk.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'BrandonGrotesqueMedium';
  src: local('BrandonGrotesqueMedium'),
    url('./fonts/Brandon Grotesque/Brandon_med.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'BrandonGrotesqueBold';
  src: local('BrandonGrotesqueBold'),
    url('./fonts/Brandon Grotesque/Brandon_bld.otf') format('opentype');
  font-weight: normal;
}

body {
  font-family: BrandonGrotesqueBlack;
}

.Modal {
  position: absolute;
  top: 40px;
  bottom: 40px;
  width: 80%;
}

@media (min-width: 768px) {
  .Modal {
    position: absolute;
    top: 40px;
    bottom: 40px;
    width: 80%;
  }
}

@media (min-width: 900px) {
  .Modal {
    position: absolute;
    top: 40px;
    bottom: 40px;
    width: 80%;
  }
}

.Modal {
  position: absolute;
  top: 40px;
  bottom: 40px;
  width: 80%;
}
/* 
@media (min-width: 728px) {
  .cardButton {
    font-size: '14px';
    display: 'flex';
    flex-direction: 'row';
    float: 'right';
    margin-right:'0';
    height: '32px';
    
  }
  
} */
