@font-face {
  font-family: 'BrandonTextBlack';
  src: local('BrandonTextBlack'),
    url('./fonts/Brandon Text/BrandonText-Black.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'BrandonTextRegular';
  src: local('BrandonTextRegular'),
    url('./fonts/Brandon Text/BrandonText-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'BrandonTextMedium';
  src: local('BrandonTextMedium'),
    url('./fonts/Brandon Text/BrandonText-Medium.otf') format('opentype');
  font-weight: normal;
}

body {
  font-family: BrandonTextBlack;
}
